<header class="p-4 bg-danger">
  <div class="container-fluid">
    <div class="d-flex flex-wrap  justify-content-between align-items-center">
      <img src="../assets/image/pikachu.png" class="picachu" alt="Pokemon">
      <h1 class="text-white">Pokemones</h1>
      <div>
        <label for="pokemon" class="text-white">Buscar Pokemon</label>
        <input type="text" name="pokemon" placeholder="Search" class="form-control" [value]="search"
          (keyup)="searchPokemon($event)" />
      </div>

      <div class="">
        <label for="Nombre" class="text-white">Ordenar Nombre</label>
        <select class="form-control" name="Nombre" (change)="nombreSelectOrder($event)">
          <option value="choose">Choose one</option>
          <option value="ASC">Asendente</option>
          <option value="DES">Desendente</option>
        </select>
      </div>




      <div class="">
        <label for="Nombre" class="text-white">Ordenar Peso</label>
        <select class="form-control" name="Nombre" (change)="pesoSelectOrder($event)">
          <option value="choose">Choose one</option>
          <option value="ASC">Asendente</option>
          <option value="DES">Desendente</option>
        </select>
      </div>


    </div>
  </div>
</header>

