
<app-header (SearchPokemon)="searchPokemon($event)" (nombreOrder)="setNombreOrder($event)" (pesoOrder)=" setPesoOrder($event)" ></app-header>

<div *ngIf="pokemones.length===310; else loadingTable">
  <app-table [listOfPokemones]="pokemones" [searchPokemon]="search" [setNombre]="nombre" [setPeso]="peso"></app-table>
</div>

<ng-template #loadingTable>
  <div class="text-center">
    <img src="../assets/image/pokeball.png" class="spinner-grow mt-5 text-light"   style="width: 10rem; height: 10rem;" alt="Pokemon">
  </div>
</ng-template>



<router-outlet></router-outlet>
